/* Reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  color: #2c3e50;
}

a {
  text-decoration: none;
}

/* Component-btn */
.btn {
  display: inline-block;
  margin-bottom: 10px;
  transition: all 0.5s;
  background: #12cbc4;
  color: #fff;
  border-radius: 3px;
  padding: 8px 16px;
  border: none;
}

.btn:hover {
  background: #1289a7;
}

.btn-outline {
  background: #fff;
  border: 1px solid #12cbc4;
  border-radius: 3px;
  padding: 8px 16px;
  color: #12cbc4;
}

.btn-outline:hover {
  color: #fff;
  background: #12cbc4;
}

/* Section Navbar */

.logo {
  width: 60px;
}

.nav-list {
  list-style-type: none;
  display: flex;
}

.nav-list li {
  margin-right: 1rem;
}

.nav-list li:last-of-type {
  margin-right: 0rem;
}

.bar {
  width: 25px;
  height: 1px;
  background: #222;
  margin-bottom: 5px;
}

.menu {
  display: none;
}

.hidden {
  display: none;
}

@media screen and (max-width: 769px) {
  .logo {
    width: 30px;
  }

  .menu {
    display: block;
  }

  .nav-list {
    flex-direction: column;
    width: 100%;
    /* border: 1px solid #ccc; */
    box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: none;
    position: absolute;
    top: 60px;
    z-index: 10;
  }

  .nav-list li {
    margin-right: 0;
    text-align: center;
    padding: 1rem 0;
  }

  .nav-list li:nth-child(even) {
    background: #ecf0f1;
  }

  .nav-list li:nth-child(odd) {
    background: #fff;
  }
}

/* Section-Header */

header {
  height: 550px;
  position: relative;
}

.header-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  text-align: center;
}

header h1 {
  font-size: 4rem;
  letter-spacing: 1px;
  font-weight: 700;
}

header p {
  line-height: 1.6;
  font-size: 1.2rem;
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  .header-container {
    width: 80%;
  }

  header h1 {
    font-size: 2rem;
  }
}

/* Section- Blog */

.blog {
  background: #dfe6e9;
}

.blog h3 {
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
}

.blog p {
  font-weight: 300;
  text-align: center;
  max-width: 650px;
  margin-right: auto;
  margin-left: auto;
}

.card {
  background: #fff;
  border: 1px solid #ccc;
}

.img {
  display: block;
  width: 100%;
}

.card-text-container {
  padding: 16px;
}

.card-title {
  margin-bottom: 10px;
  font-weight: 400;
}

p.card-text {
  line-height: 1.5;
  margin-bottom: 10px;
  text-align: left;
}

/* Section- Features */

.features {
  background: #2d3436;
  color: #fff;
}

.features h3 {
  font-size: 1.2rem;
  font-weight: 700;
}

.features p {
  font-weight: 100;
  line-height: 1.5;
  font-size: 0.8rem;
  color: #5e82a6;
}

.bg-purple {
  background: #9b59b6;
}

.bg-green {
  background: #27ae60;
}

.bg-red {
  background: #c0392b;
}

.svg-container {
  border-radius: 8px;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg-icon {
  fill: currentColor;
  color: #fff;
  width: 2rem;
  height: 2rem;
}

/* Contact */

.contact h2 {
  text-align: center;
  font-size: 3rem;
}

.contact p {
  text-align: center;
  max-width: 45rem;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-group label {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.form-control {
  width: 100%;
  padding: 0.75rem 0.5rem;
  border-radius: 4px;
  border: 1px solid #ced4da;
}

textarea {
  height: 200px;
}

.custom-select {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 5px;
}

/* Footer */

footer {
  background: #2c3e50;
  color: #bdc3c7;
}

footer h3 {
  color: #7f8c8d;
  text-transform: uppercase;
}

footer li {
  list-style-type: none;
  margin-top: 0.5rem;
}
