container {
  width: 960px;
  margin: 0 auto;
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .container {
    width: 750px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }
}

.row {
  display: flex;
  margin: 0 -1rem;
  flex-wrap: wrap;
}

[class^="col-"] {
  padding: 0 1rem;
}

.col-md-4 {
  flex-basis: 33.33%;
}

.col-md-6 {
  flex-basis: 50%;
}

.col-md-3 {
  flex-basis: 25%;
}

.col-md-12 {
  flex-basis: 100%;
}

@media screen and (max-width: 768px) {
  [class^="col-"] {
    flex-basis: 100%;
  }
}
